@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.input-styles {
    @apply w-[60%] h-[50px] p-4 text-[#acadbc] text-[1.5rem] rounded-[1rem] bg-[#473bf0] font-semibold my-[.5rem]
}